
#logo{
    width:200px;
    padding-left: 15px;
}

.redes{
    display:flex;
    justify-content:space-evenly;
    padding-right: 30px;
    align-items:center;
}
.red{
    padding-inline:10px;
}
.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
button{
    height:35px;
    font-size:75%;
    font-weight:bold;
    border-width:0.2em;
}
@media (max-width:500px){
    .container{
        flex-direction:column;
    }
    .logo{
        border-bottom-style:solid;
        border-bottom-width:.1em;

    }
    #logo{
        width:175px;
        align-items:center;
        padding:5px;

    }
    .redes{
        padding-top:5px;
        padding-right: 0px;
        padding-bottom:5px;
    }
}