<div class="row" *ngIf="persona">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="fotoperfil" [src]='persona.img' class="img-fluid">
    </div>

    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">{{persona.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <button type="button" class="btn btn-dark bi bi-pen" routerLink="editaacercade/1" *ngIf="isLogged">
        </button>
    </div>
</div>