<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img  id="fotoperfil" src="../../../assets/perfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">Tec.Sup.Tecnologias de la Información</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt accusamus nisi dolorem eos dolorum? Autem, tempora nemo quod voluptates ipsum ab. Harum, animi esse culpa eveniet molestias sapiente? Odit, itaque?</p>
        </span>
    </div>
</div>
