<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!.---- Include the above in your HEAD tag ---------->
<body>
    <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
          <i class="usericon fa fa-user-circle fa-5x" aria-hidden="true"></i>
      </div>
      <div>
  
      <!-- Login Form -->
      <form  #f="ngForm" (ngSubmit)="onLogin()" novalidate>
     
        <input type="text" id="nombreUsuario" name="nombreUsuario" 
        class="fadeIn second" placeholder="nombreUsuario"
        [(ngModel)]="nombreUsuario" required />

        <input type="text" id="password" class="fadeIn third" placeholder="password"
         name="password" [(ngModel)]="password" required />
        <input type="submit" class="fadeIn fourth" placeholder="Login"/>

      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">¿Olvido su password?</a>

        <!--<a class="underlineHover" href="#">Registrarse</a> -->
  
      </div>
      </div>
    </div>
  </div>
</body>