<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaeducacion" *ngIf="isLogged">
            Agregar Educación
        </button>
    </div>
    <div class="col-lg-8">

        <table class="table" >
            <tbody>
                <tr *ngFor="let Educacion of educacion" >
                    <td class="align-baseline">
                        <h3>{{Educacion.nombreE}}</h3>
                    </td>
                    <td class="align-baseline">
                        <h5>Año/s: ({{Educacion.anioE}})</h5>
                    </td>
                    <td class="align-baseline">{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-dark bi bi-pen"
                            routerLink="/editeducacion/{{Educacion.id}}"></button>
                    <td *ngIf="isLogged"><button class="btn btn-dark bi bi-trash"
                            (click)="delete(Educacion.id)"></button>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>