<!--<div class="container"*ngIf="expLab">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre de la Empresa</label>
                    <input type="text"class="form-control"id="nombreE"name="nombreE" [(ngModel)]="expLab.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de la Tarea</label>
                    <input type="text"class="form-control"id="descripcionE"name="descripcionE" [(ngModel)]="expLab.descripcionE" required>
                </div>
                <button class="btn btn-primary">
                    Modificar
                </button>
            </form>
        </div>
    </div>
</div>-->

<body>
    <div class="container wrapper fadeInDown" *ngIf="expLab">
        <div id="formContent">
            <div>
                <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate >
                    <br>
                    <h4 class="titulo">Actualizar Experiencia</h4> <br>
                    <input type="text" id="nombreE" name="nombreE" class="fadeIn first" placeholder="Nombre de Proyecto" [(ngModel)]="expLab.nombreE" required />
                    <input type="text" id="descripcionE" name="descripcionE" class="fadeIn second" placeholder="Nombre de Proyecto" [(ngModel)]="expLab.descripcionE" required />
                    <br>
                    <input type="submit" class="fadeIn third" value="Guardar datos actualizados"/>
                  
                    <a routerLink="/.."type="button" class="fadeIn fourth" >Cancelar</a>
                    <br>      <br>   <br>                 
                </form>
            </div>
        </div>
    </div>
</body>