<div class="row" *ngIf="proyecto">
    <h1>Proyectos Realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>
    <div class="row">
        <div class="contenedor" *ngFor="let Proyecto of proyecto">
            
                <img id="imgP" width="200px" height='200px' [src]='Proyecto?.imgP' class="img-fluid img-proyecto align-middle">
            <br><br>
                <h3>{{Proyecto?.nombreP}}</h3>
                
                <p>{{Proyecto?.descripcionP}}</p>
           
            <div *ngIf="isLogged" class="col-sm-12 col-md-1 col-lg-1 parte3 offset-md-1 offset-lg-1 align-middle">
                <button class="btn btn-dark bi bi-pen" routerLink="/editproyecto/{{Proyecto.id}}"></button>
                <button class="btn btn-dark bi bi-trash" (click)="delete(Proyecto.id)"></button>
            </div>
        </div>
    </div>
</div>