<div class="row">
	<h1>Hard & Soft Skills</h1>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">    
		<circle-progress
			[percent]="60"
			[radius]="75"
			[outerStrokeWidth]="8"
			[innerStrokeWidth]="4"
			[outerStrokeColor]="'#000000'"
			[innerStrokeColor]="'#e7e8ea'"
			[animation]="true"
			[animationDuration]="1000"
			[showSubtitle]="false"
			[clockwise]="false"
			[showUnits]="false"
			[toFixed]="0"
			[subtitle]="'60'"
			[subtitleColor]="'#000000'"
			[imageSrc]="'../../../assets/html.png'"
			[imageHeight]="75"
			[imageWidth]="75"
			[showImage]="true"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">    
		<circle-progress
			[percent]="60"
			[radius]="75"
			[outerStrokeWidth]="8"
			[innerStrokeWidth]="4"
			[outerStrokeColor]="'#000000'"
			[innerStrokeColor]="'#e7e8ea'"
			[animation]="true"
			[animationDuration]="1000"
			[showSubtitle]="false"
			[clockwise]="false"
			[showUnits]="false"
			[toFixed]="0"
			[subtitle]="'60'"
			[subtitleColor]="'#000000'"
			[imageSrc]="'../../../assets/html.png'"
			[imageHeight]="75"
			[imageWidth]="75"
			[showImage]="true"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">    
		<circle-progress
			[percent]="60"
			[radius]="75"
			[outerStrokeWidth]="8"
			[innerStrokeWidth]="4"
			[outerStrokeColor]="'#000000'"
			[innerStrokeColor]="'#e7e8ea'"
			[animation]="true"
			[animationDuration]="1000"
			[showSubtitle]="false"
			[clockwise]="false"
			[showUnits]="false"
			[toFixed]="0"
			[subtitle]="'60'"
			[subtitleColor]="'#000000'"
			[imageSrc]="'../../../assets/html.png'"
			[imageHeight]="75"
			[imageWidth]="75"
			[showImage]="true"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">    
		<circle-progress
			[percent]="60"
			[radius]="75"
			[outerStrokeWidth]="8"
			[innerStrokeWidth]="4"
			[outerStrokeColor]="'#000000'"
			[innerStrokeColor]="'#e7e8ea'"
			[animation]="true"
			[animationDuration]="1000"
			[showSubtitle]="false"
			[clockwise]="false"
			[showUnits]="false"
			[toFixed]="0"
			[subtitle]="'60'"
			[subtitleColor]="'#000000'"
			[imageSrc]="'../../../assets/html.png'"
			[imageHeight]="75"
			[imageWidth]="75"
			[showImage]="true"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">    
		<circle-progress
			[percent]="60"
			[radius]="75"
			[outerStrokeWidth]="8"
			[innerStrokeWidth]="4"
			[outerStrokeColor]="'#000000'"
			[innerStrokeColor]="'#e7e8ea'"
			[animation]="true"
			[animationDuration]="1000"
			[showSubtitle]="false"
			[clockwise]="false"
			[showUnits]="false"
			[toFixed]="0"
			[subtitle]="'60'"
			[subtitleColor]="'#000000'"
			[imageSrc]="'../../../assets/html.png'"
			[imageHeight]="75"
			[imageWidth]="75"
			[showImage]="true"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">    
		<circle-progress
			[percent]="60"
			[radius]="75"
			[outerStrokeWidth]="8"
			[innerStrokeWidth]="4"
			[outerStrokeColor]="'#000000'"
			[innerStrokeColor]="'#e7e8ea'"
			[animation]="true"
			[animationDuration]="1000"
			[showSubtitle]="false"
			[clockwise]="false"
			[showUnits]="false"
			[toFixed]="0"
			[subtitle]="'60'"
			[subtitleColor]="'#000000'"
			[imageSrc]="'../../../assets/html.png'"
			[imageHeight]="75"
			[imageWidth]="75"
			[showImage]="true"
		></circle-progress>
	</div>
</div>
